﻿@using PagedList.Mvc;
@using PagedList;
@using FizzBuzzApp.Models;
@{
    ViewBag.Title = "FizzBuzz";
}

@model FizzBuzzViewModel

<!DOCTYPE html>
<html>
<head>
    <style>
        .fizz {
            color: blue;
        }

        .buzz {
            color: red;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "FizzBuzz", FormMethod.Post))
    {
        <br />
        @Html.TextBoxFor(m => m.number)<br />
        @Html.ValidationMessageFor(m => m.number)<br />
        <input type="submit" class="btn btn-success" />
    }

    <h2>FizzBuzz List</h2>
    <table>
        <thead>
            <tr>
                <th><span>FizzBuzz Numbers</span></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.FizzBuzzNumbers.Count; i++)
            {
                <tr>
                    @if (Model.FizzBuzzNumbers[i] == "fizz" || Model.FizzBuzzNumbers[i] == "wizz")
                    {
                        <td><span class="fizz">@Model.FizzBuzzNumbers[i]</span></td>
                    }
                    else if (Model.FizzBuzzNumbers[i] == "buzz" || Model.FizzBuzzNumbers[i] == "wuzz")
                    {
                        <td><span class="buzz">@Model.FizzBuzzNumbers[i]</span></td>
                    }
                    else if (Model.FizzBuzzNumbers[i] == "fizzbuzz")
                    {
                        <td><span class="fizz">fizz</span><span class="buzz">buzz</span></td>
                    }
                    else if (Model.FizzBuzzNumbers[i] == "wizzwuzz")
                    {
                        <td><span class="fizz">wizz</span><span class="buzz">wuzz</span></td>
                    }
                    else
                    {
                        <td><span>@Model.FizzBuzzNumbers[i]</span></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    Page @(Model.FizzBuzzNumbers.PageCount < Model.FizzBuzzNumbers.PageNumber ? 0 : Model.FizzBuzzNumbers.PageNumber) of @Model.FizzBuzzNumbers.PageCount
    @Html.PagedListPager(Model.FizzBuzzNumbers, Page => Url.Action("GetFizzBuzz", new { value = Request.QueryString["value"], Page }))
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
</html>


