﻿@model FizzBuzzApp.Models.FizzBuzzViewModel

@{
    ViewBag.Title = "FizzBuzz";
}

<!DOCTYPE html>
<html>
<body>
    @using (Html.BeginForm("Index", "FizzBuzz", FormMethod.Post))
    {
        <br />
        @Html.TextBoxFor(m => m.number)<br />
        @Html.ValidationMessageFor(m => m.number)<br />
        <input type="submit" class="btn btn-success" />
    }
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
</html>